[submodule "kong_util"]
	path = kong_util
	url = https://github.com/KongBOy/kong_util.git

[submodule "SIFT_dev/SIFTflow"]
	path = SIFT_dev/SIFTflow
	url = https://github.com/KongBOy/SIFTflow_try
[submodule "kong_Blender"]
	path = kong_Blender
	url = https://github.com/KongBOy/kong_Blender.git
[submodule "kong_Doc3D"]
	path = kong_Doc3D
	url = https://github.com/KongBOy/kong_Doc3D.git
[submodule "kong_Analyze_11_code"]
	path = kong_Analyze_11_code
	url = https://github.com/KongBOy/analyze_11_code.git
