.vscode
*.srctr*
__*
*.rar
data_dir
0_data_dir
0 data_dir

kong_util/.*
kong_util/__*

try_*
dont track

*.lnk

events*

abc
temp*


# pdf轉jpg要用到的套件
*poppler-21.11.0*

debug_data/try_*
debug_data/*.png